.temp_grey, .day_Name_grey{
    color: #bababa !important;
    margin: 10px 0 0px;
  }
  
  p{
      font-family: arial,sans-serif;
      color: #878787 !important;
      font-size: 12px;
  }
  
  #root>div{
    padding: 2px;
  }
  
  #root .tab{
    cursor: pointer;
  }
  
  #root .tab:hover{
    background-color: #fcfcfc;
    border: 1px solid #e9e9e9;
    border-radius: 1px;
    margin: 0;
    transform: scale(1.1);
    transition: all ease-in-out .25s;
  }
  
  .tab_margin{
    margin: 0 1.5% !important;
  }
  
  .leftArrow{
    font-size: 20px;
  }
  
  .cursor-pointer{
    cursor: pointer;
  }
  
  .color-red{
    color: red;
  }
  
  .grey-border-1px{
    border: 1px solid #ccc;
  }
  .text-capitalize{
    text-transform: capitalize;
  }